In [11]:
import pandas as pd
import openpyxl
import streamlit as st
import geopandas as gpd
import folium
from streamlit_folium import st_folium
import json

2025-05-05 11:12:51.977 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [6]:
populacao_df = pd.read_csv('data/populacao.csv', encoding='utf-8', sep=';')
populacao_df = populacao_df.sort_values(by='Municipio', ascending=True)
populacao_df.reset_index(drop=True, inplace=True)
populacao_df.to_csv('populacao.csv', index=False, encoding='utf-8')

In [12]:
data = openpyxl.load_workbook(
    'data/Anexo 3 - Solicitação Quantidade Serviços Prestados por Tipo BA GERAL - '
    'Atualizado 20250409.xlsx', 
    data_only=True
)

data_frota = openpyxl.load_workbook(
    'data/Novo Anexo 1 - Solicitação de Frota BA 2022_2023_2024_2025 em 20250107.xlsx', 
    data_only=True
)

In [9]:
clinicas_cols = [
    'Id_Município Cidadão', 
    'Número CIRETRAN Município Cidadão', 
    'Nome CIRETRAN Município Cidadão', 
    'Município Cidadão',
    'Id_Município Clínica', 
    'Número CIRETRAN Clínica', 
    'Nome CIRETRAN Clínica', 
    'Município Clínica', 
    'CNPJ', 
    'Razão Social', 
    'Exames Médicos', 
    'Exames Psicológicos', 
    'Total', 
    'Percentual'
]

cfc_cols = [
    'Id_Município Cidadão', 
    'Número CIRETRAN Município Cidadão', 
    'Nome CIRETRAN Município Cidadão', 
    'Município Cidadão',
    'Id_Município CFC', 
    'Número CIRETRAN CFC', 
    'Nome CIRETRAN CFC', 
    'Município CFC', 
    'CNPJ', 
    'Razão Social', 
    'Cursos Teóricos',
    'Cursos Práticos', 
    'Total', 
    'Percentual'
]

epiv_cols = [
    'Id_Município', 
    'Número CIRETRAN', 
    'Nome CIRETRAN', 
    'Município',
    'CNPJ', 
    'Razão Social', 
    'Estampagem', 
    'Total', 
    'Percentual'
]

patio_cols = [
    'Id_Município', 
    'Número CIRETRAN', 
    'Nome CIRETRAN', 
    'Município',
    'CNPJ', 
    'Razão Social', 
    'Veículos removidos', 
    'Total', 
    'Percentual'
]

ecv_cols = [
    'Id_Município',
    'Número CIRETRAN',
    'Nome CIRETRAN',
    'Município',
    'CNPJ',
    'Razão Social',
    'Vistoria Lacrada Veículo 4 Rodas Até 16 Lugares ou Maior 3,5T',
    'Vistoria Lacrada Veículo Carga PBT Mais 3,5T',
    'Vistoria Lacrada Veículo Combinado Veículo P/Unidade',
    'Vistoria Lacrada Veículo Passageiro com Lotação Acima de 16 Lugares',
    'Vistoria Lacrada Veículo 2 ou 3 Rodas',
    'Vistoria RENAVE de Veículo 4 Rodas 16 Lugares ou Até 3,5 Ton',
    'Vistoria RENAVE de Veículos de 2 e 3 Rodas',
    'Vistoria Veículo Carga com PBT Acima de 3,5T',
    'Vistoria Veicular de Combinações de Veículos por Unidade',
    'Vistoria Veículo 2 ou 3 Rodas',
    'Vistoria Veículo 4 Rodas Até 16 Lugares ou Até 3,5 Ton',
    'Vistoria Veículo Passageiros com Capacidade Acima de 16 Lugares',
    'Outras',
    'Total',
    'Percentual'
]

frota_cols = [
    'Id_Município', 
    'Número CIRETRAN', 
    'Nome CIRETRAN', 
    'Município',
    'Automóvel',
    'Caminhão',
    'Caminhonete',
    'Microonibus',
    'Moto',
    'Motor-Casa',
    'Onibus',
    'Reboque',
    'Trator',
    'Outros',
    'Total', 
    'Percentual'
]

In [13]:
frota_24 = data_frota['2025']
frota_df_24 = pd.DataFrame(frota_24.values)
frota_df_24 = frota_df_24.drop(columns=[16,17,18,19,20,21,22,23,24,25,26])
frota_df_24.columns = frota_cols
frota_df_24 = frota_df_24.drop([0, 1, 2, 3])
frota_df_24 = frota_df_24.iloc[:-2]
frota_df_24 = frota_df_24.reset_index(drop=True)
frota_df_24['Percentual'] = frota_df_24['Percentual'].apply(lambda x: round(x * 100, 2))
frota_df_24

,Id_Município,Número CIRETRAN,Nome CIRETRAN,Município,Automóvel,Caminhão,Caminhonete,Microonibus,Moto,Motor-Casa,Onibus,Reboque,Trator,Outros,Total,Percentual
0,,0,SEDE,SALVADOR,719197,27537,141704,4620,213446,152,12072,17607,101,9,1136445,20.59
1,3871,1,CIR. SANTO AMARO,SANTO AMARO,5370,339,1236,180,6221,1,255,301,0,2,13905,0.25
2,3037,1,CIR. SANTO AMARO,SAUBARA,657,41,189,51,807,0,4,50,0,4,1803,0.03
3,3927,1,CIR. SANTO AMARO,TEODORO SAMPAIO,497,33,118,21,403,0,14,22,0,0,1108,0.02
4,3933,1,CIR. SANTO AMARO,TERRA NOVA,909,47,142,22,669,0,26,44,0,0,1859,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,3495,33,CIR. CRUZ DAS ALMAS,CRUZ DAS ALMAS,13706,1476,3323,420,18315,3,155,953,0,0,38351,0.69
413,3283,33,CIR. CRUZ DAS ALMAS,ITATIM,2071,427,672,61,2452,1,49,265,0,0,5998,0.11
414,3869,33,CIR. CRUZ DAS ALMAS,SANTA TERESINHA,1029,50,208,21,584,0,49,44,0,0,1985,0.04
415,3881,33,CIR. CRUZ DAS ALMAS,SAO FELIPE,2331,372,866,65,3977,0,78,91,0,0,7780,0.14
416,3891,33,CIR. CRUZ DAS ALMAS,SAPEACU,2347,155,502,87,3200,0,63,93,0,0,6447,0.12

In [16]:
frota_df_24['Id_Município'][frota_df_24['Município'] == 'SALVADOR'] = 3849
frota_df_24

C:\Users\caiop\AppData\Local\Temp\ipykernel_26780\2117343639.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  frota_df_24['Id_Município'][frota_df_24['Município'] == 'SALVADOR'] = 3849
C:\Users\caiop\AppData\Local\Temp\ipykernel_26780\2117343639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frota_df_24['Id_Município'][frota_df_24['Município'] == 'SALVADOR'] = 3849

,Id_Município,Número CIRETRAN,Nome CIRETRAN,Município,Automóvel,Caminhão,Caminhonete,Microonibus,Moto,Motor-Casa,Onibus,Reboque,Trator,Outros,Total,Percentual
0,3849,0,SEDE,SALVADOR,719197,27537,141704,4620,213446,152,12072,17607,101,9,1136445,20.59
1,3871,1,CIR. SANTO AMARO,SANTO AMARO,5370,339,1236,180,6221,1,255,301,0,2,13905,0.25
2,3037,1,CIR. SANTO AMARO,SAUBARA,657,41,189,51,807,0,4,50,0,4,1803,0.03
3,3927,1,CIR. SANTO AMARO,TEODORO SAMPAIO,497,33,118,21,403,0,14,22,0,0,1108,0.02
4,3933,1,CIR. SANTO AMARO,TERRA NOVA,909,47,142,22,669,0,26,44,0,0,1859,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,3495,33,CIR. CRUZ DAS ALMAS,CRUZ DAS ALMAS,13706,1476,3323,420,18315,3,155,953,0,0,38351,0.69
413,3283,33,CIR. CRUZ DAS ALMAS,ITATIM,2071,427,672,61,2452,1,49,265,0,0,5998,0.11
414,3869,33,CIR. CRUZ DAS ALMAS,SANTA TERESINHA,1029,50,208,21,584,0,49,44,0,0,1985,0.04
415,3881,33,CIR. CRUZ DAS ALMAS,SAO FELIPE,2331,372,866,65,3977,0,78,91,0,0,7780,0.14
416,3891,33,CIR. CRUZ DAS ALMAS,SAPEACU,2347,155,502,87,3200,0,63,93,0,0,6447,0.12

In [5]:
from unidecode import unidecode

texto = "Brejolândia"
texto_sem_acento = unidecode(texto) 
 # resultado: "Brejolandia"

texto_sem_acento

'Brejolandia'

In [3]:
import pandas as pd

In [4]:
df_populacao = pd.read_csv('populacao.csv')
df_populacao

     Id_Municipio             Municipio  Populacao
0            3301                ABAIRA     7452.0
1            3303                 ABARE    18240.0
2            3305             ACAJUTIBA    14215.0
3            3253              ADUSTINA    14554.0
4            3307             AGUA FRIA    14871.0
..            ...                   ...        ...
412          3965  VITORIA DA CONQUISTA   394024.0
413          3967                WAGNER     9847.0
414          3999             WANDERLEY    13436.0
415          3969   WENCESLAU GUIMARAES    25430.0
416          3971           XIQUE XIQUE    46979.0

[417 rows x 3 columns]

In [7]:
municipios_pop = {unidecode(nome): str(id_mun) 
                 for nome, id_mun in zip(df_populacao['Municipio'], df_populacao['Id_Municipio'])}
municipios_pop

{'ABAIRA': '3301',
 'ABARE': '3303',
 'ACAJUTIBA': '3305',
 'ADUSTINA': '3253',
 'AGUA FRIA': '3307',
 'AIQUARA': '3311',
 'ALAGOINHAS': '3313',
 'ALCOBACA': '3315',
 'ALMADINA': '3317',
 'AMARGOSA': '3319',
 'AMELIA RODRIGUES': '3321',
 'AMERICA DOURADA': '3071',
 'ANAGE': '3323',
 'ANDARAI': '3325',
 'ANDORINHA': '3255',
 'ANGICAL': '3327',
 'ANGUERA': '3329',
 'ANTAS': '3331',
 'ANTONIO CARDOSO': '3333',
 'ANTONIO GONCALVES': '3335',
 'APORA': '3337',
 'APUAREMA': '3257',
 'ARACAS': '3259',
 'ARACATU': '3339',
 'ARACI': '3341',
 'ARAMARI': '3343',
 'ARATACA': '3073',
 'ARATUIPE': '3345',
 'AURELINO LEAL': '3347',
 'BAIANOPOLIS': '3349',
 'BAIXA GRANDE': '3351',
 'BANZAE': '3261',
 'BARRA': '3353',
 'BARRA DA ESTIVA': '3355',
 'BARRA DO CHOCA': '3357',
 'BARRA DO MENDES': '3359',
 'BARRA DO ROCHA': '3361',
 'BARREIRAS': '3363',
 'BARRO ALTO': '3075',
 'BARRO PRETO': '3365',
 'BARROCAS': '3077',
 'BELMONTE': '3367',
 'BELO CAMPO': '3369',
 'BIRITINGA': '3371',
 'BOA NOVA': '3373',
 'BOA VISTA DO TUPIM': '3375',
 'BOM JESUS DA LAPA': '3377',
 'BOM JESUS DA SERRA': '3263',
 'BONINAL': '3379',
 'BONITO': '3265',
 'BOQUIRA': '3381',
 'BOTUPORA': '3383',
 'BREJOES': '3385',
 'BREJOLANDIA': '3387',
 'BROTAS DE MACAUBAS': '3389',
 'BRUMADO': '3391',
 'BUERAREMA': '3393',
 'BURITIRAMA': '3079',
 'CAATIBA': '3395',
 'CABACEIRAS DO PARAGUACU': '3267',
 'CACHOEIRA': '3397',
 'CACULE': '3399',
 'CAEM': '3401',
 'CAETANOS': '3269',
 'CAETITE': '3403',
 'CAFARNAUM': '3405',
 'CAIRU': '3407',
 'CALDEIRAO GRANDE': '3409',
 'CAMACAN': '3411',
 'CAMACARI': '3413',
 'CAMAMU': '3415',
 'CAMPO ALEGRE DE LOURDES': '3417',
 'CAMPO FORMOSO': '3419',
 'CANAPOLIS': '3421',
 'CANARANA': '3423',
 'CANAVIEIRAS': '3425',
 'CANDEAL': '3427',
 'CANDEIAS': '3429',
 'CANDIBA': '3431',
 'CANDIDO SALES': '3433',
 'CANSANCAO': '3435',
 'CANUDOS': '3085',
 'CAPELA DO ALTO ALEGRE': '3081',
 'CAPIM GROSSO': '3083',
 'CARAIBAS': '3271',
 'CARAVELAS': '3437',
 'CARDEAL DA SILVA': '3439',
 'CARINHANHA': '3441',
 'CASA NOVA': '3443',
 'CASTRO ALVES': '3445',
 'CATOLANDIA': '3447',
 'CATU': '3449',
 'CATURAMA': '3273',
 'CENTRAL': '3451',
 'CHORROCHO': '3453',
 'CICERO DANTAS': '3455',
 'CIPO': '3457',
 'COARACI': '3459',
 'COCOS': '3461',
 'CONCEICAO DA FEIRA': '3463',
 'CONCEICAO DO ALMEIDA': '3465',
 'CONCEICAO DO COITE': '3467',
 'CONCEICAO DO JACUIPE': '3469',
 'CONDE': '3471',
 'CONDEUBA': '3473',
 'CONTENDAS DO SINCORA': '3475',
 'CORACAO DE MARIA': '3477',
 'CORDEIROS': '3479',
 'CORIBE': '3481',
 'CORONEL JOAO SA': '3483',
 'CORRENTINA': '3485',
 'COTEGIPE': '3487',
 'CRAVOLANDIA': '3489',
 'CRISOPOLIS': '3491',
 'CRISTOPOLIS': '3493',
 'CRUZ DAS ALMAS': '3495',
 'CURACA': '3497',
 'DARIO MEIRA': '3499',
 'DIAS D AVILA': '3087',
 'DOM BASILIO': '3501',
 'DOM MACEDO COSTA': '3503',
 'ELISIO MEDRADO': '3505',
 'ENCRUZILHADA': '3507',
 'ENTRE RIOS': '3509',
 'ERICO CARDOSO': '3309',
 'ESPLANADA': '3511',
 'EUCLIDES DA CUNHA': '3513',
 'EUNAPOLIS': '3117',
 'FATIMA': '3089',
 'FEIRA DA MATA': '3275',
 'FEIRA DE SANTANA': '3515',
 'FILADELFIA': '3091',
 'FIRMINO ALVES': '3517',
 'FLORESTA AZUL': '3519',
 'FORMOSA DO RIO PRETO': '3521',
 'GANDU': '3523',
 'GAVIAO': '3093',
 'GENTIO DO OURO': '3525',
 'GLORIA': '3527',
 'GONGOGI': '3529',
 'GOVERNADOR MANGABEIRA': '3531',
 'GUAJERU': '3095',
 'GUANAMBI': '3533',
 'GUARATINGA': '3535',
 'HELIOPOLIS': '3097',
 'IACU': '3537',
 'IBIASSUCE': '3539',
 'IBICARAI': '3541',
 'IBICOARA': '3543',
 'IBICUI': '3545',
 'IBIPEBA': '3547',
 'IBIPITANGA': '3551',
 'IBIQUERA': '3553',
 'IBIRAPITANGA': '3555',
 'IBIRAPUA': '3557',
 'IBIRATAIA': '3559',
 'IBITIARA': '3561',
 'IBITITA': '3563',
 'IBOTIRAMA': '3565',
 'ICHU': '3567',
 'IGAPORA': '3569',
 'IGRAPIUNA': '3277',
 'IGUAI': '3571',
 'ILHEUS': '3573',
 'INHAMBUPE': '3575',
 'IPECAETA': '3577',
 'IPIAU': '3579',
 'IPIRA': '3581',
 'IPUPIARA': '3583',
 'IRAJUBA': '3585',
 'IRAMAIA': '3587',
 'IRAQUARA': '3589',
 'IRARA': '3591',
 'IRECE': '3593',
 'ITABELA': '3279',
 'ITABERABA': '3595',
 'ITABUNA': '3597',
 'ITACARE': '3599',
 'ITAETE': '3601',
 'ITAGI': '3603',
 'ITAGIBA': '3605',
 'ITAGIMIRIM': '3607',
 'ITAGUACU DA BAHIA': '3281',
 'ITAJU DO COLONIA': '3609',
 'ITAJUIPE': '3611',
 'ITAMARAJU': '3613',
 'ITAMARI': '3615',
 'ITAMBE': '3617',
 'ITANAGRA': '3619',
 'ITANHEM': '3621',
 'ITAPARICA': '3623',
 'ITAPE': '3625',
 'ITAPEBI': '3627',
 'ITAPETINGA': '3629',
 'ITAPICURU': '3631',
 'ITAPITANGA': '3633',
 'ITAQUARA': '3635',
 'ITARANTIM': '3637',
 'ITATIM': '3283',
 'ITIRUCU': '3639',
 'ITIUBA': '3641',
 'ITORORO': '3643',
 'ITUACU': '3645',
 'ITUBERA': '3647',
 'IUIU': '3285',
 'JABORANDI': '9859',
 'JACARACI': '3649',
 'JACOBINA': '3651',
 'JAGUAQUARA': '3653',
 'JAGUARARI': '3655',
 'JAGUARIPE': '3657',
 'JANDAIRA': '3659',
 'JEQUIE': '3661',
 'JEREMOABO': '3663',
 'JIQUIRICA': '3665',
 'JITAUNA': '3667',
 'JOAO DOURADO': '3099',
 'JUAZEIRO': '3669',
 'JUCURUCU': '3287',
 'JUSSARA': '3671',
 'JUSSARI': '3069',
 'JUSSIAPE': '3673',
 'LAFAIETE COUTINHO': '3675',
 'LAGOA REAL': '3289',
 'LAJE': '3677',
 'LAJEDAO': '3679',
 'LAJEDINHO': '3681',
 'LAJEDO DO TABOCAL': '3291',
 'LAMARAO': '3683',
 'LAPAO': '3973',
 'LAURO DE FREITAS': '3685',
 'LENCOIS': '3687',
 'LICINIO DE ALMEIDA': '3689',
 'LIVRAMENTO DE NOSSA SENHORA': '3691',
 'LUIS EDUARDO MAGALHAES': '1112',
 'MACAJUBA': '3693',
 'MACARANI': '3695',
 'MACAUBAS': '3697',
 'MACURURE': '3699',
 'MADRE DE DEUS': '3293',
 'MAETINGA': '3975',
 'MAIQUINIQUE': '3701',
 'MAIRI': '3703',
 'MALHADA': '3705',
 'MALHADA DE PEDRAS': '3707',
 'MANOEL VITORINO': '3709',
 'MANSIDAO': '3977',
 'MARACAS': '3711',
 'MARAGOGIPE': '3713',
 'MARAU': '3715',
 'MARCIONILIO SOUZA': '3717',
 'MASCOTE': '3719',
 'MATA DE SAO JOAO': '3721',
 'MATINA': '3295',
 'MEDEIROS NETO': '3723',
 'MIGUEL CALMON': '3725',
 'MILAGRES': '3727',
 'MIRANGABA': '3729',
 'MIRANTE': '3297',
 'MONTE SANTO': '3731',
 'MORPARA': '3733',
 'MORRO DO CHAPEU': '3735',
 'MORTUGABA': '3737',
 'MUCUGE': '3739',
 'MUCURI': '3741',
 'MULUNGU DO MORRO': '3299',
 'MUNDO NOVO': '3743',
 'MUNIZ FERREIRA': '3745',
 'MUQUEM DE SAO FRANCISCO': '3005',
 'MURITIBA': '3747',
 'MUTUIPE': '3749',
 'NAZARE': '3751',
 'NILO PECANHA': '3753',
 'NORDESTINA': '3979',
 'NOVA CANAA': '3755',
 'NOVA FATIMA': '3007',
 'NOVA IBIA': '3009',
 'NOVA ITARANA': '3757',
 'NOVA REDENCAO': '3011',
 'NOVA SOURE': '3759',
 'NOVA VICOSA': '3761',
 'NOVO HORIZONTE': '3013',
 'NOVO TRIUNFO': '3015',
 'OLINDINA': '3763',
 'OLIVEIRA DOS BREJINHOS': '3765',
 'OURICANGAS': '3767',
 'OUROLANDIA': '3017',
 'PALMAS DE MONTE ALTO': '3769',
 'PALMEIRAS': '3771',
 'PARAMIRIM': '3773',
 'PARATINGA': '3775',
 'PARIPIRANGA': '3777',
 'PAU BRASIL': '3779',
 'PAULO AFONSO': '3781',
 'PE DE SERRA': '3981',
 'PEDRAO': '3783',
 'PEDRO ALEXANDRE': '3785',
 'PIATA': '3787',
 'PILAO ARCADO': '3789',
 'PINDAI': '3791',
 'PINDOBACU': '3793',
 'PINTADAS': '3983',
 'PIRAI DO NORTE': '3019',
 'PIRIPA': '3795',
 'PIRITIBA': '3797',
 'PLANALTINO': '3799',
 'PLANALTO': '3801',
 'POCOES': '3803',
 'POJUCA': '3805',
 'PONTO NOVO': '3021',
 'PORTO SEGURO': '3807',
 'POTIRAGUA': '3809',
 'PRADO': '3811',
 'PRESIDENTE DUTRA': '3813',
 'PRESIDENTE JANIO QUADROS': '3815',
 'PRESIDENTE TANCREDO NEVES': '3023',
 'QUEIMADAS': '3817',
 'QUIJINGUE': '3819',
 'QUIXABEIRA': '3025',
 'RAFAEL JAMBEIRO': '3985',
 'REMANSO': '3821',
 'RETIROLANDIA': '3823',
 'RIACHAO DAS NEVES': '3825',
 'RIACHAO DO JACUIPE': '3827',
 'RIACHO DE SANTANA': '3829',
 'RIBEIRA DO AMPARO': '3831',
 'RIBEIRA DO POMBAL': '3833',
 'RIBEIRAO DO LARGO': '3027',
 'RIO DE CONTAS': '3835',
 'RIO DO ANTONIO': '3837',
 'RIO DO PIRES': '3839',
 'RIO REAL': '3841',
 'RODELAS': '3843',
 'RUY BARBOSA': '3845',
 'SALINAS DA MARGARIDA': '3847',
 'SALVADOR': '3849',
 'SANTA BARBARA': '3851',
 'SANTA BRIGIDA': '3853',
 'SANTA CRUZ CABRALIA': '3855',
 'SANTA CRUZ DA VITORIA': '3857',
 'SANTA INES': '3859',
 'SANTA LUZIA': '3987',
 'SANTA MARIA DA VITORIA': '3863',
 'SANTA RITA DE CASSIA': '3549',
 'SANTA TERESINHA': '3869',
 'SANTALUZ': '3861',
 'SANTANA': '3865',
 'SANTANOPOLIS': '3867',
 'SANTO AMARO': '3871',
 'SANTO ANTONIO DE JESUS': '3873',
 'SANTO ESTEVAO': '3875',
 'SAO DESIDERIO': '3877',
 'SAO DOMINGOS': '3029',
 'SAO FELIPE': '3881',
 'SAO FELIX': '3879',
 'SAO FELIX DO CORIBE': '3031',
 'SAO FRANCISCO DO CONDE': '3883',
 'SAO GABRIEL': '3989',
 'SAO GONCALO DOS CAMPOS': '3885',
 'SAO JOSE DA VITORIA': '3035',
 'SAO JOSE DO JACUIPE': '3033',
 'SAO MIGUEL DAS MATAS': '3887',
 'SAO SEBASTIAO DO PASSE': '3889',
 'SAPEACU': '3891',
 'SATIRO DIAS': '3893',
 'SAUBARA': '3037',
 'SAUDE': '3895',
 'SEABRA': '3897',
 'SEBASTIAO LARANJEIRAS': '3899',
 'SENHOR DO BONFIM': '3901',
 'SENTO SE': '3903',
 'SERRA DO RAMALHO': '3039',
 'SERRA DOURADA': '3905',
 'SERRA PRETA': '3907',
 'SERRINHA': '3909',
 'SERROLANDIA': '3911',
 'SIMOES FILHO': '3913',
 'SITIO DO MATO': '3041',
 'SITIO DO QUINTO': '3043',
 'SOBRADINHO': '3045',
 'SOUTO SOARES': '3915',
 'TABOCAS DO BREJO VELHO': '3917',
 'TANHACU': '3919',
 'TANQUE NOVO': '3991',
 'TANQUINHO': '3921',
 'TAPEROA': '3923',
 'TAPIRAMUTA': '3925',
 'TEIXEIRA DE FREITAS': '3993',
 'TEODORO SAMPAIO': '3927',
 'TEOFILANDIA': '3929',
 'TEOLANDIA': '3931',
 'TERRA NOVA': '3933',
 'TREMEDAL': '3935',
 'TUCANO': '3937',
 'UAUA': '3939',
 'UBAIRA': '3941',
 'UBAITABA': '3943',
 'UBATA': '3945',
 'UIBAI': '3947',
 'UMBURANAS': '3047',
 'UNA': '3949',
 'URANDI': '3951',
 'URUCUCA': '3953',
 'UTINGA': '3955',
 'VALENCA': '3957',
 'VALENTE': '3959',
 'VARZEA DA ROCA': '3997',
 'VARZEA DO POCO': '3961',
 'VARZEA NOVA': '3995',
 'VARZEDO': '3049',
 'VERA CRUZ': '3963',
 'VEREDA': '3051',
 'VITORIA DA CONQUISTA': '3965',
 'WAGNER': '3967',
 'WANDERLEY': '3999',
 'WENCESLAU GUIMARAES': '3969',
 'XIQUE XIQUE': '3971'}